.input {
    &:focus,
    &:focus-within {
        outline: none !important;
        border: 0.75px solid var(--primary-bg-color) !important;
        outline-offset: 0px !important;
        isolation: isolate;
    }
}

.text-primary {
    color: var(--primary-text-color);
}

.btn-primary {
    --btn-color: var(--primary-bg-color);
    --btn-fg: var(--primary-fg-color);
}
