@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --primary-bg-color: #0c97fa;
    --primary-fg-color: #ffffff;
    --primary-text-color: #0c97fa;
    --secondary-color: #fbdd74;
    --accent-color: #3d5a80;
}

@font-face {
    font-family: "Inter";
    src: url("../fonts/inter.ttf");
}

@font-face {
    font-family: "Manrope";
    src: url("../fonts/manrope.ttf");
}

@font-face {
    font-family: "Jetbrains Mono";
    src: url("../fonts/jetbrains-mono.ttf");
}

* {
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}

body {
    color: #293241;
    font-size: 14px;
    background-color: #293241 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Manrope", sans-serif;
    color: #33272a;
    font-weight: 600;
}

.numeric {
    font-family: "Jetbrains Mono", monospace;
}

.menu .active {
    color: var(--primary-text-color);
}
